<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Update Course</title>

    <div th:replace="~{fragments/config :: tailwind-cdn}"></div>
    <div th:replace="~{fragments/config :: font-google}"></div>
</head>
<body class="font-body bg-surface text-content-secondary">
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="h-screen justify-items-center content-center [@media(max-height:650px)]:pt-16 py-8">
        <div class="relative p-8 grid gap-6 rounded-lg shadow-lg w-full max-w-xl">
            <div th:replace="~{fragments/components :: title-page(text='Update Course')}"></div>
            <div th:replace="~{fragments/components :: errorGlobal}"></div>
            <form th:action="@{/course/update/{id}(id=${currentCourse.id})}" th:object="${courseRequest}" method="POST" class="grid gap-6">
                <div th:replace="~{fragments/components :: input-view(id, ${currentCourse.id})}"></div>
                <div th:replace="~{fragments/components :: input-updateLabel(name, 'example: java', 2, ${apiError})}"></div>
                <div class="mt-2 relative">
                    <label for="category" class="text-xs tracking-wider uppercase">category</label>
                    <select id="category" th:field="*{categoryId}"
                            class="w-full px-4 py-3 bg-surface-secondary rounded-lg outline-none transition-all duration-300
                                    ring-1 ring-divider hover:ring-divider-hover focus:ring-1 focus:ring-divider-focus"
                            th:classappend="${apiError?.errors()?.containsKey('categoryId')} ? 'ring-1 ring-divider-action' : ''">
                        <option value="" th:selected="${courseRequest.categoryId == null}" selected>Category (Select a category)</option>
                        <option th:each="cat : ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}"
                                th:selected="${cat.id == courseRequest.categoryId}">
                            Name of Category
                        </option>
                    </select>
                    <small class="text-content-action text-sm absolute -bottom-5 left-0"
                           th:if="${apiError?.errors()?.containsKey('categoryId')}"
                           th:text="${apiError.errors().get('categoryId')}">
                    </small>
                </div>
                <div class="relative">
                    <label for="user" class="text-xs tracking-wider uppercase">user</label>
                    <select id="user" th:field="*{userId}"
                            class="w-full px-4 py-3 bg-surface-secondary rounded-lg outline-none transition-all duration-300
                                    ring-1 ring-divider hover:ring-divider-hover focus:ring-1 focus:ring-divider-focus"
                            th:classappend="${apiError?.errors()?.containsKey('userId')} ? 'ring-1 ring-divider-action' : ''">

                        <option value="" th:selected="${courseRequest.userId == null}" selected>Teacher (Select a teacher)</option>
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.name}"
                                th:selected="${user.id == courseRequest?.userId}">
                            Name of User
                        </option>
                    </select>
                    <small class="text-content-action text-sm absolute -bottom-5 left-0"
                           th:if="${apiError?.errors()?.containsKey('userId')}"
                           th:text="${apiError.errors().get('userId')}">
                    </small>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div th:replace="~{fragments/components :: input-view('created', ${#temporals.format(currentCourse.createdAt, 'dd/MM/yyyy HH:mm')})}"></div>
                    <div th:replace="~{fragments/components :: input-view('updated', ${#temporals.format(currentCourse.updatedAt, 'dd/MM/yyyy HH:mm')})}"></div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-2">
                    <div th:replace="~{fragments/components :: btn-primary(Save, submit) }"></div>
                    <a th:href="@{/course/filter}">
                        <div th:replace="~{fragments/components :: btn-secondary(Cancel, button)}"></div>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>